
body {
    background-color: black;
    background-image: 
        radial-gradient(rgba(0,150,255,0.8) 2px, transparent 2px);
    background-size: 80px 80px; 
    background-repeat: repeat;
}



#headerper3{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: -20px;
    padding: 20px;
}

#headerper3logos{
    display: flex;
    gap: 30px;
    justify-content: center; 
    backdrop-filter: blur(5px);
    background: rgba(255, 255, 255, 0.2);
    transition: 3s;
}

#headerper3logos:hover{
        backdrop-filter: blur(5px);
    background: rgba(255, 255, 255, 0.2);
}
.imgp3{
    width: 100%;
transition: 3s;
}
.imgp3:hover{
 width: 120%;
}
.imgp3p{
    transition: 3s;
        width: 100%;
}
.imgp3f{
    transition: 3s;
        width: 100%;
}
.imgp3p:hover{
        width: 120%;
}
.imgp3f:hover{
        width: 120%;
}

#infosredirect{
    text-align: center;
       backdrop-filter: blur(2px);
    transition: 3s;
    color: aliceblue;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#textp3 {
    color: azure;
    display: none;
}

